$base-color1: #006375;
$base-color2: #5C257F;
$base-color3: #0C64B5;

@function increase-value($i) {
  @return ($i * 0.1);
}

@for $i from 1 through 4 {
  .lighten-#{$i} {
    filter: brightness(1 + increase-value($i));
  }
  .darken-#{$i} {
    filter: brightness(1 - increase-value($i));
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  align-content: center;
  gap: 8px;
  padding: 8px 0;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px #ccc solid;
    border-radius: 5px;
  }
}

#container-1 {
  .box {
    background-color: $base-color1;
  }

  &.base-color {
    background-color: $base-color1;
  }

  .color-box-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #d9c000;
  }
}

#container-2 {
  .box {
    background-color: $base-color2;
  }

  &.base-color {
    background-color: $base-color2;
  }

  .color-box-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #D697FF;
  }
}

#container-3 {
  .box {
    background-color: $base-color3;
  }

  &.base-color {
    background-color: $base-color3;
  }

  .color-box-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #E74C3C;
  }
}
